 .profile_picture{
        width: 15%;
    }

#name{
    color: black;
}

.imageName{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #f5f5f5;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-top: 7rem;
    background-size: auto;
    width: 80%;
    border-radius: 2rem;
    background-image: url("images/heroBackground.png");
    background-size: cover;
    border: 1px solid rgb(61, 61, 61);

}

.aboutMeSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;

}

.bioPara1,
.bioPara2 {
    text-align: center;
    width: 55rem;
}

.aboutMeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 2rem;
    background-color: #f5f5f5;
}

.techCards {
    display: flex;
    gap: 2rem;
}

.skillsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 2rem;
    background-color: #f5f5f5;
    width: 55rem;
    margin: 0 auto;
    margin-top: 6rem;
    }

    .programmingCard,
    .toolsCard,
    .framworkCard{
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
    }

    .projectsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 3rem;
    }

    .projectOneCard {
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55rem;
        border-radius: 2rem;
        padding: 2rem;
    }

    .projectTwoCard {
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55rem;
        border-radius: 2rem;
        padding: 2rem;
    }

    .projectsGroup {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        border-radius: 2rem;
        background-color: #f5f5f5;
        width: 55rem;
        margin: 0 auto;
        margin-bottom: 7rem;
 
    }

    .socialLinks {
        display: flex;
        gap: 4rem;
    }

   